body {
  margin: 0; /* Sem margem */
  padding: 0; /* Sem padding */
  background-color: #000000; /* Cor de fundo preta */
  line-height: 1.6; /* Altura da linha */
  color: #f5f5f5; /* Cor do texto */
  overflow-x: hidden; /* Esconde rolagem horizontal */
}

h1 {
  font-family: 'Poppins';
  margin: 0 0 10px 0; /* Margem inferior */
  font-size: 2em; /* Tamanho da fonte maior */
  -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both; /* Animação */
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both; /* Animação */
}

h3 {
  font-family: 'Poppins';
  font-size: 1.4em; /* Tamanho da fonte maior */
  color: #e53939; /* Cor do texto */
}

h2 {
  font-family: 'Arial';
  font-size: 1.4em; /* Tamanho da fonte maior */
  -webkit-animation: text-focus-in 4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both; /* Animação */
  animation: text-focus-in 4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both; /* Animação */
  margin: 50px; /* Margem ao redor */
}

footer {
  font-family: 'Poppins';
  background-color: #000; /* Fundo preto */
  color: #fff; /* Texto branco */
  text-align: center; /* Alinha texto ao centro */
  padding: 10px 0; /* Padding vertical */
  position: relative; /* Posição relativa */
  bottom: 0; /* Fixa no fundo */
  width: 100%; /* Largura completa */
}

/* CSS para animação */
.init-hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 8s ease-out, transform 2s ease-out;
}

.init-hidden-off {
  opacity: 1;
  transform: translateY(0);
}

#section1 {
  background-color: #000000; /* Cor de fundo preta */
  border-top: none; /* Remove a borda superior */
  display: flex; /* Utiliza flexbox para alinhamento */
  align-items: center; /* Alinha itens ao centro verticalmente */
  padding: 70px; /* Define o padding */
  width: 100%; /* Largura completa */
  gap: 40px; /* Espaço entre a foto e o texto */
}

#section2 {
  background-color: #000000; /* Cor de fundo preta */
  display: flex; /* Utiliza flexbox para alinhamento */
  gap: 20px; /* Espaço entre a foto e o texto */
}

#section3 {
  background-color: #000000; /* Cor de fundo preta */
  display: flex; /* Utiliza flexbox para alinhamento */
  color: #fff; /* Cor do texto branca */
  padding: 40px; /* Define o padding */
}

.profile-photo {
  width: 400px; /* Define a largura da foto */
  height: 400px; /* Define a altura da foto */
  border: 4px solid #e53939; /* Borda moderna */
  border-radius: 8px; /* Bordas levemente arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  object-fit: cover; /* Preenche o espaço sem distorção */
  margin-right: 20px; /* Espaço entre a foto e o conteúdo */
  -webkit-animation: swing-in-top-fwd 15s cubic-bezier(0.175, 0.885, 0.320, 1.275) both; /* Animação */
  animation: swing-in-top-fwd 14s cubic-bezier(0.175, 0.885, 0.320, 1.275) both; /* Animação */
}

.profile-photo2 {
  width: 300px; /* Define a largura da foto */
  height: 300px; /* Define a altura da foto */
  border: 2px solid #e53939; /* Borda moderna */
  border-radius: 50%; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  object-fit: cover; /* Preenche o espaço sem distorção */
  margin-right: 50px; /* Espaço entre a foto e o conteúdo */
  -webkit-animation: swing-in-top-fwd 15s cubic-bezier(0.175, 0.885, 0.320, 1.275) both; /* Animação */
  animation: swing-in-top-fwd 15s cubic-bezier(0.175, 0.885, 0.320, 1.275) both; /* Animação */
}

.profile-photo3 {
  width: 300px; /* Define a largura da foto */
  height: 300px; /* Define a altura da foto */
  border: 2px solid #e53939; /* Borda moderna */
  border-radius: 50%; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  object-fit: cover; /* Preenche o espaço sem distorção */
  margin: 20px auto; /* Centraliza horizontalmente */
  -webkit-animation: swing-in-top-fwd 20s cubic-bezier(0.175, 0.885, 0.320, 1.275) both; /* Animação */
  animation: swing-in-top-fwd 20s cubic-bezier(0.175, 0.885, 0.320, 1.275) both; /* Animação */
}

.section {
  padding: 10px; /* Padding interno para o conteúdo */
  height: 65vh; /* Altura da seção */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.profile-photo:hover {
  transform: scale(1.05); /* Efeito de zoom suave */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Intensifica a sombra ao passar o mouse */
}

.profile-photo2:hover {
  transform: scale(1.05); /* Efeito de zoom suave */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Intensifica a sombra ao passar o mouse */
}

.profile-photo3:hover {
  transform: scale(1.05); /* Efeito de zoom suave */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Intensifica a sombra ao passar o mouse */
}

.section-content {
  max-width: calc(100% - 290px); /* Ajusta a largura máxima para deixar espaço para a foto */
  text-align: left; /* Alinha o texto à esquerda */
  padding: 10px; /* Padding interno para o conteúdo */
}

.section-divider {
  border: 0;
  height: 2px; /* Altura da linha */
  background: #e53939; /* Cor da linha */
  margin: 40px 0; /* Espaçamento vertical */
  width: 100%; /* Largura da linha */
  margin-left: auto; /* Centraliza a linha */
  -webkit-animation: scale-in-hor-right 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; /* Animação */
  animation: scale-in-hor-right 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; /* Animação */
}

.section-divider-w {
  border: 0;
  height: 2px; /* Altura da linha */
  background: #f5f5f5; /* Cor da linha */
  margin: 0; /* Sem espaçamento vertical */
  width: 100%; /* Largura da linha */
  -webkit-animation: scale-in-hor-left 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; /* Animação */
  animation: scale-in-hor-left 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; /* Animação */
}


::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #000000; /* Cor da trilha da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: #000000; /* Cor do polegar da barra de rolagem */
  border-radius: 20px; /* Bordas arredondadas do polegar */
  border: 3px solid #ffffff; /* Borda ao redor do polegar */
}

 @-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
@-webkit-keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}

@keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}

 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

